* {
    box-sizing: border-box;
}

html {
    font-family: Inter, sans-serif;
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.6rem;
}

/* Common */
img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
}

button,
input {
    font-family: Inter, sans-serif;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

.main-content {
    position: relative;
    width: 1300px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    padding-bottom: 80px;
}

.container {
    margin-top: 120px;
}

.container .title {
    margin-bottom: 40px;
}

.heading {
    font-family: "Prata";
    font-weight: 400;
    line-height: 1;
    color: #303030;
}

.heading.lv1 {
    font-size: 5rem;
}

.heading.lv2 {
    font-size: 4rem;
}

.heading.lv3 {
    font-size: 3.2rem;
}

.row {
    display: flex;
    margin: 0 -10px;
}

.column {
    padding: 0 10px;
}

.btn {
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    padding: 8px;
}

.btn.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.btn.primary {
    min-width: 200px;
    height: 56px;
    border: 1px solid #303030;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #303030;
}

.btn.rounded {
    height: 40px;
    min-width: 110px;
    background-color: #f0f0f0;
    border-radius: 999px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #303030;
}

.btn.circle {
    border-radius: 50%;
    width: 54px;
    height: 54px;
    border: 1px solid #303030;
}

.btn.circle.prev:active {
    text-align: start;
}

.btn.circle.next:active {
    text-align: end;
}

.btn.circle:hover {
    background-color: #f5f5f5;
}

.dots {
    position: absolute;
    display: flex;
    column-gap: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #303030;
}

.dot.active {
    background-color: #303030;
}

.toggle-list {
    display: none;
    padding: 16px 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 100%;
    width: 100%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.toggle-list .item {
    position: relative;
    padding: 9px 24px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #303030;
}

.toggle-list .item.active::after {
    content: "";
    margin-left: 11.5px;
    display: inline-block;
    width: 11px;
    height: 8px;
    background: url(../images/icons/check.svg);
}

.toggle-list .item:hover {
    background-color: #fafafa;
}

.toggle-list .item img {
    margin-left: 10px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp, 1);
    overflow: hidden;
}

/* Header */

.header .head {
    position: relative;
    height: 99px;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #303030;
}

.header .left {
    display: flex;
    column-gap: 60px;
}

.header .location {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header .location .toggle-list {
    width: 197px;
    top: 175%;
}

.header .location .name {
    min-width: 150px;
    margin: 0 8px 0 10px;
    display: flex;
    align-items: center;
}

.header .location .name::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 6px;
    margin-left: 8px;
    background: url(../images/icons/arrow-down.svg);
}

.header .location.active .toggle-list {
    display: block;
}

.header .location.active .name::after {
    transform: rotate(180deg);
}

.header .phone {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header .mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header .mid p {
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.27em;
    color: #919191;
}

.header .right {
    display: flex;
    column-gap: 72px;
}

.header .auth {
    display: flex;
    align-items: center;
}

.header .auth .login,
.header .auth .register {
    color: #303030;
    cursor: pointer;
}

.header .auth span {
    height: 10px;
    display: inline-block;
    border-left: 1px solid #303030;
    padding-left: 10px;
    margin-left: 10px;
}

.header .actions {
    display: flex;
    column-gap: 24px;
}

.header .action {
    cursor: pointer;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .action.heart {
    position: relative;
    margin-right: -2px;
}

.header .action.heart span {
    position: absolute;
    top: -10px;
    right: -5px;
    font-weight: 700;
    text-align: center;
    padding-top: 6px;
    font-size: 1rem;
    line-height: 1;
    color: #ffffff;
    background-color: #e46942;
    width: 19px;
    height: 19px;
    border-radius: 50%;
}

.header .foot {
    height: 62px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
}

.header .categories {
    height: 100%;
    width: 76.7%;
    display: flex;
    align-items: center;
    column-gap: 60px;
    border-right: 1px solid #f0f0f0;
}

.header .category {
    cursor: pointer;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1;
    text-transform: uppercase;
    color: #303030;
}

.header .category.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.header .search {
    display: flex;
    column-gap: 17px;
}

.header .search img {
    margin-left: 26px;
    object-fit: contain;
    cursor: pointer;
}

.header .search input {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    background-color: #f8f8f8;
}

.header .search input::placeholder {
    color: #a2a2a2;
}

/* Banner */
.banner {
    margin-top: 20px;
}

.banner .slider {
    overflow: hidden;
    position: relative;
    height: 560px;
    background-color: #f8f8f8;
}

.banner .slider .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
}

.banner .slider .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
}

.banner .dots {
    bottom: 24px;
}

.banner .slider .body {
    height: 100%;
    display: flex;
    transition: transform 0.3s ease;
}

.banner .slider .item {
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.banner .slider .info {
    margin: 176px 126px;
}

.banner .slider .desc {
    font-family: "Prata";
    font-weight: 400;
    font-size: 2rem;
    line-height: 1;
    color: #303030;
}

.banner .slider .title {
    margin-top: 30px;
    font-family: "Prata";
    font-weight: 400;
    font-size: 5rem;
    line-height: 1;
    color: #303030;
}

.banner .slider .btn.primary {
    margin-top: 54px;
    border: none;
    height: 54px;
    background-color: #303030;
    text-transform: uppercase;
    color: #ffffff;
}

.banner .slider .btn.primary:hover {
    background-color: #505050;
}

.banner .slider .image {
    position: absolute;
    width: 548px;
    height: 548px;
    right: 36px;
    top: 12px;
}

/* Popular */
.popular .column {
    width: 16.66667%;
}

.popular .card {
    cursor: pointer;
    height: 259px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
}

.popular .image-block {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular .name {
    height: 57px;
    padding: 0 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    color: #303030;
}

/* Sale */
.sale .title {
    margin-bottom: 10px;
}

.sale .head {
    display: flex;
    align-items: flex-end;
    margin-bottom: 36px;
    justify-content: space-between;
}

.sale .btns {
    display: flex;
    column-gap: 8px;
}

.sale .types {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.sale .type.active {
    background-color: #303030;
    color: #fff;
}

.sale .type:not(.active):hover {
    background-color: #dddddd;
}

.sale .row.first .column {
    height: 500px;
    width: 25%;
}

.sale .card {
    position: relative;
    padding: 40px 24px 26px;
    border: 1px solid #f0f0f0;
}

.sale .card:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
}

.sale .card:hover .foot {
    display: block;
}

.sale .card .tag {
    user-select: none;
    position: absolute;
    top: 16px;
    left: 24px;
    width: 50px;
    height: 21px;
    border-radius: 999px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1;
    color: #ffffff;
    background-color: #5b8a8f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sale .card .actions {
    z-index: 1;
    position: absolute;
    top: 19px;
    right: 22px;
    display: flex;
    flex-direction: column;
    row-gap: 15.5px;
}

.sale .card .action {
    cursor: pointer;
}

.sale .card .action:not(.active):hover {
    filter: brightness(0.75);
}

.sale .card .action img:nth-child(2) {
    display: none;
}

.sale .card .action.active img:nth-child(2) {
    display: inline;
}

.sale .card .action.active img:nth-child(1) {
    display: none;
}

.sale .thumb {
    position: relative;
    display: flex;
    justify-content: center;
}

.sale .thumb .dots {
    bottom: 6px;
}

.sale .price-block {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}

.sale .price-current {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #303030;
}

.sale .price-old {
    margin-left: 8px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    text-decoration-line: line-through;
    color: #8f8f8f;
}

.sale .card .percent {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1;
    color: #ffffff;
    width: 50px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e24b33;
    border-radius: 999px;
}

.sale .card .desc {
    --line-clamp: 2;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #303030;
}

.sale .foot {
    display: none;
    margin-top: 24px;
}

.sale .choose {
    position: relative;
    cursor: pointer;
    padding: 9px 16px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sale .choose + .choose {
    margin-top: 8px;
}

.sale .choose p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #303030;
}

.sale .choose::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 6px;
    background: url(../images/icons/arrow-down.svg);
}

.sale .choose.active::after {
    transform: rotate(180deg);
}

.sale .choose.active .toggle-list {
    display: block;
}

.sale .row.second .column {
    width: 33.33333%;
}

.sale .adv {
    position: relative;
    height: 290px;
    background-color: #f8f8f8;
    padding: 72px 26px 48px;
}

.sale .adv .desc {
    max-width: 198px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.6;
    text-transform: uppercase;
    color: #303030;
}

.sale .adv .percent {
    user-select: none;
    width: 194px;
    height: 52px;
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -24px;
}

.sale .adv.first .percent {
    background-color: #43807f;
}

.sale .adv.second .percent {
    background-color: #e24b33;
}

.sale .adv.third .percent {
    background-color: #e1a661;
}

.sale .adv .percent span {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.6;
    color: #ffffff;
}

.sale .adv .percent .number {
    margin-left: 13px;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 1.6;
    color: #ffffff;
}

.sale .adv .image {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sale .adv.first .image {
    right: 18px;
}

.sale .adv.third .image {
    bottom: 0;
}

/* Product */
.product .head {
    position: relative;
    margin-bottom: 40px;
}

.product .btns {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    column-gap: 8px;
}

.product .body {
    display: flex;
    column-gap: 100px;
    align-items: center;
}

.product .left {
    position: relative;
    width: 550px;
}

.product .tags {
    display: flex;
    column-gap: 15px;
    position: absolute;
    top: 16px;
    left: 16px;
}

.product .tag {
    width: 50px;
    height: 21px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1;
    color: #ffffff;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product .tag:nth-child(1) {
    background-color: #495159;
}

.product .tag:nth-child(2) {
    background-color: #e1a661;
}

.product .tag:nth-child(3) {
    background-color: #5b8a8f;
}

.product .arrow-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
}

.product .arrow-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    left: 14px;
}

.product .arrow-prev.disabled,
.product .arrow-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.product .right {
    flex: 1;
}

.product .stats {
    display: flex;
    column-gap: 6px;
}

.product .stats span {
    margin-left: 4px;
}

.product .title {
    margin-top: 25px;
    margin-bottom: 0;
}

.product .code {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #8f8f8f;
}

.product .info {
    margin-top: 2px;
    display: flex;
    column-gap: 36px;
    align-items: center;
}

.product .price {
    padding-top: 12px;
    display: flex;
    column-gap: 16px;
    align-items: flex-end;
}

.product .price-current {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #303030;
}

.product .price-old {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration-line: line-through;
    color: #8f8f8f;
}

.product .percent {
    width: 50px;
    height: 21px;
    border-radius: 999px;
    background-color: #e24b33;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product .countdown {
    display: flex;
    padding: 12px 14px;
    background-color: #f5f5f5;
    align-items: center;
    column-gap: 9px;
}

.product .countdown .time {
    width: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
    padding: 6px 10px 5px;
    background: #ffffff;
    border: 1px solid #d0d0d0;
}

.product .countdown .number {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
    color: #303030;
}

.product .countdown .desc {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1;
    color: #303030;
}

.product .device {
    margin-top: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.product .color {
    margin-top: 30px;
}

.product .color .subtitle {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 16px;
}

.product .choices {
    display: flex;
    column-gap: 8px;
}

.product .choices .item {
    cursor: pointer;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product .choices .item.active {
    border: 1px solid #303030;
}

.product .choices .choice {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.product .choices .choice.gray {
    background-color: #d9d9d9;
}

.product .choices .choice.yellow {
    background-color: #f1cb7e;
}

.product .choices .choice.orange {
    background-color: #ea8c48;
}

.product .choices .choice.green {
    background-color: #a7e492;
}

.product .size {
    margin-top: 33px;
}

.product .size .subtitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1;
    text-transform: uppercase;
    color: #303030;
}

.product .size .subtitle img {
    cursor: pointer;
    margin-left: 8px;
}

.product .size .subtitle img:hover {
    filter: brightness(0.75);
}

.product .size-list {
    margin-top: 14px;
    display: flex;
    column-gap: 8px;
}

.product .size-item {
    user-select: none;
    cursor: pointer;
    width: 50px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #303030;
    border: 1px solid #dadada;
}

.product .size-item:hover {
    border: 1px solid #303030;
}

.product .size-item.active {
    border: 1px solid #303030;
    background-color: #303030;
    color: #fff;
}

.product .size-item.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.product .actions {
    margin-top: 40px;
    display: flex;
    column-gap: 41px;
}

.product .buy {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.product .buy .btn.primary {
    width: 400px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
}

.product .buy .add-cart {
    color: #ffffff;
    background-color: #303030;
}

.product .buy .add-cart:hover {
    background-color: #505050;
}

.product .buy .buy-cta:hover {
    color: #fff;
    background-color: #303030;
}

.product .buy .add-cart:active,
.product .buy .buy-cta:active {
    color: #fff;
    background-color: #000;
}

.product .action-list {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
}

.product .action-item {
    user-select: none;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.product .action-item.heart img:nth-child(2) {
    display: none;
}

.product .action-item.heart:active img:nth-child(2) {
    display: inline;
}

.product .action-item.heart:active img:nth-child(1) {
    display: none;
}

.product .action-item span {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1;
    color: #303030;
}

.product .action-item:not(:active) img {
    filter: brightness(0.75);
}

.product .action-item:hover span {
    color: #979797;
}

.product .action-item:active span {
    color: #303030;
}

/* Articles */
.articles .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.articles .articles-cta {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
    color: #303030;
}

.articles .articles-cta img {
    width: 26px;
    margin-left: 12px;
}

.articles .column {
    width: 25%;
}

.articles .card .date {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #8f8f8f;
}

.articles .card .title {
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #303030;
}
